.App {
    &.App-light {
        @include theme('light');
    }

    @include theme('dark');
    @include colorTransition;
    position: relative;
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;

    @media (min-width: 1000px) {
        flex-direction: row;
    }


    .sidebar-content-container {
        transition: transform $transition-traits;

        @media (min-width: 1000px) {
            position: sticky;
            top: 0;
            left: 0;
            bottom: 0;
            width: 250px;
            min-height: 100vh;
            min-height: 100dvh;

            &.hidden {
                transform: translateX(-100%)
            }
        }
    }


    .main-content-container {
        transition: all $transition-traits;

        @media (min-width: 1000px) {
            margin-left: 0;
            width: calc(100% - 250px);

            &.wide {
                margin-left: -250px;   
                width: 100%;
            }
        }
    }
}