.App {
    @include theme('dark');
    @include colorTransition;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100dvh;

    @media (min-width: 800px) {
        flex-direction: row;
    }

    &.App-light {
        @include theme('light');
    }

    .left-container {
        @media (min-width: 800px) {
            min-width: 250px;
            position: sticky;
            top: 0;
            left: 0;
            bottom: 0;
            transition: transform $transition-traits;
            transform: translateX(0);
    
            &.left-container-hide {
                transform: translateX(-100%);
            }
        }
    }

    .right-container {
        display: flex;
    }
}