// ======= Typography.
$main-font: 'Plus Jakarta Sans', sans-serif;
$main-font-regular: 400;
$main-font-medium: 500;
$main-font-semi-bold: 600;
$main-font-bold: 700;


// ======= Dark Theme Colors.
$very-dark-blue: #22222e;
$dark-grayish-blue: #2c2c36;
$medium-gray: #777a89;
$almost-white: #fafbff;
$dark-theme-purple: #655fb7;


// ======= Light Theme Colors.
$ghost-white: #f0f4ff;
$white: #ffffff;
$alice-blue: #e8f0fb;
$light-theme-purple: #615fa0;
$black: #161518;
$gray: #aeafb0;


// ======= General Colors.
$light-yellow: #fcefb4;
$light-blue: #ade8f4;
$light-green: #b7e4c7;
$light-gray: #b4b8ab;
$red: #e54b4b;


// ======= Others.
$transition-traits: 0.25s ease-in-out;


// ======= Mixing.
@mixin theme($theme) {
    @if $theme == 'dark' {
        background-color: $very-dark-blue;
        color: $almost-white;
        transition-property: background-color, color;
        transition-duration: 0.25s;
        transition-timing-function: ease-in-out;
    } @else if $theme == 'light' {
        background-color: $ghost-white;
        color: $black;
        transition-property: background-color, color;
        transition-duration: 0.25s;
        transition-timing-function: ease-in-out;
    } @else {
        @error "Invalid theme.";
    }
}

@mixin colorTransition() {
    transition-property: background-color, color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}

@mixin absoluteParentComponent() {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

@mixin absoluteChildComponent() {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 250px;
    max-width: 300px;
    padding: 1.5rem;
    border-radius: 5px;

    @media (min-width: 1000px) {
        min-width: 400px;
        max-width: 400px;
    }
}


// ======= Animation.
@keyframes loadingLines {
    0% {
        transform: scaleY(0.3);
    } 50% {
        transform: scaleY(1);
    } 100% {
        transform: scaleY(0.3);
    }
}