.edit-board-wrapper {
    @include absoluteParentComponent;

    .edit-board-container {
        @include absoluteChildComponent;
        background-color: $dark-grayish-blue;

        &.edit-board-container-light {
            background-color: $white;
        }
    }
}


.delete-barod-wrapper{
    @include absoluteParentComponent;

    .delete-barod-container {
        @include absoluteChildComponent;
        background-color: $dark-grayish-blue;

        &.delete-barod-container-light {
            background-color: $white;
        }
    }
}