.logo-icon-wrapper{
    &.logo-icon-wrapper-light {
        h1 {
            color: $black;
        }
    }

    display: flex;
    align-items: flex-end;
    gap: 0.5rem;


    .lines-container {
        display: flex;
        align-items: flex-end;
        height: 27px;

        @media (min-width: 768px) {
            height: 0px;
        }

        .logo-line {
            background-color: #534fc4;
            width: 7px;
            height: 27px;
            margin-right: 3px;
            border-radius: 2px;

            &:nth-child(2) {
                background-color: #8784d4;
            }

            &:nth-child(3) {
                background-color: #bdbce6;
                margin-right: 0;
            }

            @media (min-width: 768px) {
                height: 28.5px;
                margin-right: 4px;
            }
        }
    }


    .logo-name {
        color: $almost-white;
        font-family: 'Alata', sans-serif;
        font-weight: $main-font-bold;
        letter-spacing: 0.5px;
        transition: color $transition-traits;
        display: none;


        @media (min-width: 768px) {
            display: inline-block;
            font-size: 1.55rem;
        }
    }
}