.sidebar-wrapper {
    background-color: $dark-grayish-blue;
    
    @media (min-width: 1000px) {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 250px;
        min-height: 100vh;
        min-height: 100dvh;
    }
    
    

    .sidebar-content-wrapper {
        background-color: rgba(0, 0, 0, 0.6);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;

        @media (min-width: 1000px) {
            all: unset;
        }

        .sidebar-content-container {
            background-color: $dark-grayish-blue;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media (min-width: 1000px) {
                height: 90%;
            }


            .boards-list-container {
                

                h1 {
                    color: lighten($gray, 30%);
                    font-size: 0.95rem;
                    font-weight: $main-font-bold;
                    display: block;
                    padding: 1.5rem 1.5rem;
                    @include colorTransition;
                }


                .boards-list {
                    display: grid;
                    gap: 0.5rem;
                    max-height: 200px;
                    overflow-y: auto;
                    scrollbar-width: none;
                    &::-webkit-scrollbar {
                        display: none;
                    }

                    @media (min-width: 1000px) {
                        max-height: 400px;
                    }

                    .board-btn {
                        background: transparent;
                        color: $medium-gray;
                        letter-spacing: 1px;
                        display: flex;
                        align-items: center;
                        gap: 0.7rem;
                        padding: 0.5rem 1.5rem;
                        cursor: pointer;
                        word-wrap: break-word;
                        width: 90%;

                        &.active-board-btn {
                            background-color: $blue2;
                            color: $almost-white;
                            border-top-right-radius: 45px;
                            border-bottom-right-radius: 45px;
                        }

                        span {
                            font-size: 1rem;

                            @media (min-width: 768px) {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }

                .new-board-btn {
                    background: transparent;
                    color: $white;
                    font-size: 0.95rem;
                    font-weight: $main-font-bold;
                    display: flex;
                    align-items: center;
                    gap: 0.7rem;
                    letter-spacing: 1px;
                    margin-top: 0.5rem;
                    padding: 1rem 1.5rem;
                    cursor: pointer;

                    span {
                        font-size: 1rem;

                        @media (min-width: 768px) {
                            font-size: 1.2rem;
                        }
                    }
                }
            }


            .theme-btn-wrapper {
                margin: 1.5rem 0;
                padding: 0 1rem;

                .theme-btn-container {
                    background: $almost-white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1.35rem;
                    padding: 0.65rem 0;
                    border-radius: 10px;
                    width: 100%;

                    dfn {
                        background: transparent;
                        color: $medium-gray;

                        &:first-of-type {
                            font-size: 1.2rem;
                        }
                    }

                    .theme-switcher {
                        display: inline-block;
                        position: relative;
                        width: 40px;
                        height: 20px;
                        background: $blue3;
                        border-radius: 10px;
                        cursor: pointer;
                        transition: all 0.3s ease-in-out;

                        .theme-btn {
                            position: absolute;
                            left: 3px;
                            top: 3px;
                            width: 14px;
                            height: 14px;
                            background: $almost-white;
                            border-radius: 50%;
                            transition: all 0.3s ease-in-out;
                        }
    
                        .theme-btn-right {
                            left: 22px;
                        }
                    }
                }

                .hide-sidebar-btn {
                    background: transparent;
                    color: $medium-gray;
                    display: none;
                    align-items: center;
                    gap: 0.5rem;
                    font-size: 0.9rem;
                    letter-spacing: -0.3px;
                    margin-top: 0.5rem;
                    cursor: pointer;
                    transition: color 0.25s ease-in-out;

                    &:hover {
                        color: darken($medium-gray, 20%);
                    }

                    @media (min-width: 1000px) {
                        display: flex;
                    }
                }
            }
        }
    }

    // ======================== Light Theme.
    &.sidebar-wrapper-light {
        background-color: $white;

        .sidebar-content-wrapper {
            .sidebar-content-container {
                background-color: $white;
            }
        }
    }
}