.sidebar-wrapper {
    background-color: $dark-grayish-blue;

    @media (min-width: 1000px) {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 250px;
        min-height: 100vh;
        min-height: 100dvh;
    }


    // ===================== Content Wrapper.
    .sidebar-content-wrapper {
        background-color: rgba(0, 0, 0, 0.6);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;

        @media (min-width: 1000px) {
            all: unset;
        }


        // ===================== Content Container.
        .sidebar-content-container {
            background-color: $dark-grayish-blue;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-width: 250px;
            border-radius: 10px;

            @media (min-width: 411px) {
                min-width: 300px;
                min-height: 400px;
            }

            @media (min-width: 768px) {
                min-width: 350px;
            }

            @media (min-width: 1000px) {
                min-width: auto;
                min-height: auto;
                height: 90%;
            }


            // ===================== Boards List.
            .boards-list-container {
                margin-top: 1rem;

                h1 {
                    color: lighten($gray, 30%);
                    font-size: 0.95rem;
                    font-weight: $main-font-bold;
                    letter-spacing: 1px;
                    padding: 0.5rem 1.5rem 1.5rem;
                    @include colorTransition;
                }


                .boards-list {
                    display: grid;
                    gap: 0.5rem;
                    max-height: 200px;
                    overflow-y: auto;
                    scrollbar-width: none;
                    &::-webkit-scrollbar {
                        display: none;
                    }

                    @media (min-width: 1000px) {
                        max-height: 400px;
                    }


                    .board-btn {
                        background: transparent;
                        color: $medium-gray;
                        font-size: 0.95rem;
                        letter-spacing: 1px;
                        display: flex;
                        align-items: center;
                        gap: 0.7rem;
                        padding: 0.85rem 1.4rem;
                        cursor: pointer;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        width: 90%;
                        border-top-right-radius: 45px;
                        border-bottom-right-radius: 45px;
                        transition: all $transition-traits;

                        @media (min-width: 1000px) {
                            padding: 0.65rem 1.4rem;
                            font-size: 0.9rem;
                        }

                        &.active-board-btn {
                            background-color: $ghost-white;
                            color: $black;
                        }


                        span {
                            font-size: 1rem;

                            @media (min-width: 768px) {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }


                .new-board-btn {
                    background: transparent;
                    color: $dark-theme-purple;
                    font-size: 0.9rem;
                    font-weight: $main-font-bold;
                    display: flex;
                    align-items: center;
                    gap: 0.7rem;
                    letter-spacing: 1px;
                    margin-top: 0.5rem;
                    padding: 1rem 1.5rem;
                    cursor: pointer;
                    transition: color $transition-traits;

                    span {
                        font-size: 1rem;
                    }
                }
            }


            // ===================== Theme Button.
            .theme-btn-wrapper {
                margin: 1.5rem 0;
                padding: 0 1rem;


                .theme-btn-container {
                    background: $very-dark-blue;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1.35rem;
                    width: 100%;
                    padding: 0.65rem 0;
                    border-radius: 10px;


                    dfn {
                        background: transparent;
                        color: $almost-white;

                        &:first-of-type {
                            font-size: 1.3rem;
                        }
                    }


                    .theme-switcher {
                        position: relative;
                        background: $almost-white;
                        display: inline-block;
                        width: 40px;
                        height: 20px;
                        border-radius: 10px;
                        cursor: pointer;
                        transition: all $transition-traits;


                        .theme-btn {
                            background: $dark-grayish-blue;
                            position: absolute;
                            top: 3px;
                            left: 3px;
                            width: 14px;
                            height: 14px;
                            border-radius: 50%;
                            transition: all $transition-traits;
                        }

                        .theme-btn-right {
                            left: 22px;
                        }
                    }
                }


                .hide-sidebar-btn {
                    background: transparent;
                    color: $medium-gray;
                    display: none;
                    align-items: center;
                    gap: 0.5rem;
                    font-size: 0.95rem;
                    letter-spacing: -0.3px;
                    margin-top: 1rem;
                    cursor: pointer;
                    transition: color $transition-traits;

                    &:hover {
                        color: darken($medium-gray, 20%);
                    }

                    @media (min-width: 1000px) {
                        display: flex;
                    }
                }
            }
        }
    }


    // ================================================ Light Theme.
    &.sidebar-wrapper-light {
        background-color: $white;


        .sidebar-content-wrapper {
            .sidebar-content-container {
                background-color: $white;


                .boards-list-container {
                    h1 {
                        color: darken($gray, 30%);
                    }

                    .boards-list {
                        .board-btn {
                            &.active-board-btn {
                                background-color: lighten($light-theme-purple, 10%);
                                color: $white;
                            }
                        }
                    }

                    .new-board-btn {
                        color: $light-theme-purple;
                    }
                }


                .theme-btn-wrapper {
                    .theme-btn-container {
                        background: darken($ghost-white, 1%);

                        dfn {
                            color: $gray;
                        }
                
                        .theme-switcher {
                            background: $white;

                            .theme-btn {
                                background-color: $light-theme-purple;
                            }
                        }
                    }
                }
            }
        }
    }
}