@import "config";
@import "app";
@import "logo";
@import "loading";

@import "sidebar";
@import "showSidebar";
@import "./addTask";
@import "./newBoard";
@import "./editBoard";
@import "./SidebarItems/logoWrapper";


@import "./MainItems/mainTopbar";
@import "./MainItems/emptyBoard";
@import "./MainItems/taskList";
@import "./MainItems/taskDetails";
@import "./MainItems/editDetails";


body {
    font-family: $main-font;
}