@keyframes loadingLines {
  0% {
    transform: scaleY(0.3);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0.3);
  }
}
.App {
  background-color: #222222;
  color: #fafbff;
  transition-property: background-color, color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
  position: relative;
}
@media (min-width: 800px) {
  .App {
    flex-direction: row;
  }
}
.App.App-light {
  background-color: #e9edfd;
  color: #161518;
  transition-property: background-color, color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}
@media (min-width: 800px) {
  .App .left-container {
    min-width: 250px;
    transition: transform 0.25s ease-in-out;
    transform: translateX(0%);
  }
  .App .left-container.left-container-hide {
    transform: translateX(-100%);
  }
}
.App .right-container {
  flex-grow: 1;
  margin-left: 0;
}

.logo-icon-wrapper {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
}
.logo-icon-wrapper.logo-icon-wrapper-light h1 {
  color: #161518;
}
.logo-icon-wrapper .lines-container {
  display: flex;
  align-items: flex-end;
  height: 27px;
}
@media (min-width: 768px) {
  .logo-icon-wrapper .lines-container {
    height: 0px;
  }
}
.logo-icon-wrapper .lines-container .logo-line {
  background-color: #165aec;
  width: 7px;
  height: 27px;
  margin-right: 3px;
  border-radius: 2px;
}
.logo-icon-wrapper .lines-container .logo-line:nth-child(2) {
  background-color: #4c9dfa;
}
.logo-icon-wrapper .lines-container .logo-line:nth-child(3) {
  background-color: #98c4ff;
  margin-right: 0;
}
@media (min-width: 768px) {
  .logo-icon-wrapper .lines-container .logo-line {
    height: 28.5px;
    margin-right: 4px;
  }
}
.logo-icon-wrapper .logo-name {
  color: #fafbff;
  font-weight: 700;
  letter-spacing: 0.5px;
  transition: color 0.25s ease-in-out;
  display: none;
}
@media (min-width: 768px) {
  .logo-icon-wrapper .logo-name {
    display: inline-block;
    font-size: 1.55rem;
  }
}

.lines-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12.5rem;
}
.lines-container .line {
  background-color: #635fc7;
  width: 0.6rem;
  height: 2.8rem;
  margin: 0 3px;
  border-radius: 10px;
  transform-origin: bottom;
  animation: loadingLines 1.75s ease-in-out infinite;
}
.lines-container .line:nth-child(2) {
  background-color: #8a87d5;
  animation-delay: 0.2s;
}
.lines-container .line:nth-child(3) {
  background-color: #b1afe3;
  animation-delay: 0.5s;
}

.sidebar-wrapper {
  background-color: #16171b;
}
@media (min-width: 1000px) {
  .sidebar-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    min-width: 250px;
  }
}
.sidebar-wrapper .sidebar-content-wrapper {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
@media (min-width: 1000px) {
  .sidebar-wrapper .sidebar-content-wrapper {
    all: unset;
  }
}
.sidebar-wrapper .sidebar-content-wrapper .sidebar-content-container {
  background-color: #16171b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}
.sidebar-wrapper .sidebar-content-wrapper .sidebar-content-container .boards-list-container h1 {
  color: #fbfcfc;
  font-size: 0.95rem;
  font-weight: 700;
  display: block;
  padding: 1.5rem 1.5rem;
  transition-property: background-color, color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}
.sidebar-wrapper .sidebar-content-wrapper .sidebar-content-container .boards-list-container .boards-list {
  display: grid;
  gap: 0.5rem;
  max-height: 200px;
  overflow-y: auto;
  scrollbar-width: none;
}
.sidebar-wrapper .sidebar-content-wrapper .sidebar-content-container .boards-list-container .boards-list::-webkit-scrollbar {
  display: none;
}
@media (min-width: 1000px) {
  .sidebar-wrapper .sidebar-content-wrapper .sidebar-content-container .boards-list-container .boards-list {
    max-height: 400px;
  }
}
.sidebar-wrapper .sidebar-content-wrapper .sidebar-content-container .boards-list-container .boards-list .board-btn {
  background: transparent;
  color: #777a89;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  word-wrap: break-word;
  width: 90%;
}
.sidebar-wrapper .sidebar-content-wrapper .sidebar-content-container .boards-list-container .boards-list .board-btn.active-board-btn {
  background-color: #4c9dfa;
  color: #fafbff;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
}
.sidebar-wrapper .sidebar-content-wrapper .sidebar-content-container .boards-list-container .boards-list .board-btn span {
  font-size: 1rem;
}
@media (min-width: 768px) {
  .sidebar-wrapper .sidebar-content-wrapper .sidebar-content-container .boards-list-container .boards-list .board-btn span {
    font-size: 1.2rem;
  }
}
.sidebar-wrapper .sidebar-content-wrapper .sidebar-content-container .boards-list-container .new-board-btn {
  background: transparent;
  color: #ffffff;
  font-size: 0.95rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  letter-spacing: 1px;
  margin-top: 0.5rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
}
.sidebar-wrapper .sidebar-content-wrapper .sidebar-content-container .boards-list-container .new-board-btn span {
  font-size: 1rem;
}
@media (min-width: 768px) {
  .sidebar-wrapper .sidebar-content-wrapper .sidebar-content-container .boards-list-container .new-board-btn span {
    font-size: 1.2rem;
  }
}
.sidebar-wrapper .sidebar-content-wrapper .sidebar-content-container .theme-btn-wrapper {
  margin: 1.5rem 0;
  padding: 0 1rem;
}
.sidebar-wrapper .sidebar-content-wrapper .sidebar-content-container .theme-btn-wrapper .theme-btn-container {
  background: #fafbff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.35rem;
  padding: 0.65rem 0;
  border-radius: 10px;
  width: 100%;
}
.sidebar-wrapper .sidebar-content-wrapper .sidebar-content-container .theme-btn-wrapper .theme-btn-container dfn {
  background: transparent;
  color: #777a89;
}
.sidebar-wrapper .sidebar-content-wrapper .sidebar-content-container .theme-btn-wrapper .theme-btn-container dfn:first-of-type {
  font-size: 1.2rem;
}
.sidebar-wrapper .sidebar-content-wrapper .sidebar-content-container .theme-btn-wrapper .theme-btn-container .theme-switcher {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 20px;
  background: #98c4ff;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.sidebar-wrapper .sidebar-content-wrapper .sidebar-content-container .theme-btn-wrapper .theme-btn-container .theme-switcher .theme-btn {
  position: absolute;
  left: 3px;
  top: 3px;
  width: 14px;
  height: 14px;
  background: #fafbff;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.sidebar-wrapper .sidebar-content-wrapper .sidebar-content-container .theme-btn-wrapper .theme-btn-container .theme-switcher .theme-btn-right {
  left: 22px;
}
.sidebar-wrapper .sidebar-content-wrapper .sidebar-content-container .theme-btn-wrapper .hide-sidebar-btn {
  background: transparent;
  color: #777a89;
  display: none;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  letter-spacing: -0.3px;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: color 0.25s ease-in-out;
}
.sidebar-wrapper .sidebar-content-wrapper .sidebar-content-container .theme-btn-wrapper .hide-sidebar-btn:hover {
  color: #484952;
}
@media (min-width: 1000px) {
  .sidebar-wrapper .sidebar-content-wrapper .sidebar-content-container .theme-btn-wrapper .hide-sidebar-btn {
    display: flex;
  }
}
.sidebar-wrapper.sidebar-wrapper-light {
  background-color: #ffffff;
}
.sidebar-wrapper.sidebar-wrapper-light .sidebar-content-wrapper .sidebar-content-container {
  background-color: #ffffff;
}

.logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  transition-property: background-color, color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}
@media (min-width: 768px) {
  .logo-wrapper {
    padding: 1.2rem 1.5rem;
  }
}
.logo-wrapper .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition-property: background-color, color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}
.logo-wrapper .logo-container h2 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.3px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (min-width: 411px) {
  .logo-wrapper .logo-container h2 {
    font-size: 1.1rem;
  }
}
@media (min-width: 540px) {
  .logo-wrapper .logo-container h2 {
    font-size: 1.15rem;
  }
}
@media (min-width: 768px) {
  .logo-wrapper .logo-container h2 {
    display: flex;
    align-items: center;
    height: 25px;
    font-size: 1.2rem;
  }
  .logo-wrapper .logo-container h2::before {
    content: "";
    display: inline-block;
    height: 100%;
    width: 2px;
    background-color: #777a89;
    margin: 0 1rem 0 0.5rem;
    opacity: 0.6;
  }
}
@media (min-width: 1000px) {
  .logo-wrapper .logo-container h2 {
    display: none;
  }
}
.logo-wrapper .logo-container .logo-open-btn {
  background: transparent;
  color: #fafbff;
  font-size: 1.3rem;
  height: 25px;
}
@media (min-width: 411px) {
  .logo-wrapper .logo-container .logo-open-btn {
    font-size: 1.4rem;
  }
}
@media (min-width: 540px) {
  .logo-wrapper .logo-container .logo-open-btn {
    font-size: 1.5rem;
  }
}
@media (min-width: 1000px) {
  .logo-wrapper .logo-container .logo-open-btn {
    display: none;
  }
}
.logo-wrapper .logo-mobile-btns {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 1000px) {
  .logo-wrapper .logo-mobile-btns {
    display: none;
  }
}
.logo-wrapper .logo-mobile-btns .logo-mobile-add {
  background: #fafbff;
  color: #16171b;
  font-size: 1.3rem;
  display: inline-flex;
  padding: 0.2rem 0.35rem;
  border-radius: 50px;
  transition-property: background-color, color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}
@media (min-width: 768px) {
  .logo-wrapper .logo-mobile-btns .logo-mobile-add {
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 0.6rem 1.1rem 0.6rem 0.6rem;
  }
  .logo-wrapper .logo-mobile-btns .logo-mobile-add::after {
    content: "Add New Task";
    font-size: 0.9rem;
    margin-left: 5px;
  }
}
.logo-wrapper .logo-mobile-btns .mobile-dropdown-wrapper .board-options-btn {
  background: none;
  color: #fafbff;
  font-size: 1.5rem;
  display: inline-flex;
  transition-property: background-color, color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}
@media (min-width: 768px) {
  .logo-wrapper .logo-mobile-btns .mobile-dropdown-wrapper .board-options-btn {
    font-size: 1.9rem;
  }
}
.logo-wrapper .logo-mobile-btns .mobile-dropdown-wrapper .dropdown-container {
  position: absolute;
  top: 50px;
  right: 15px;
  width: 170px;
  height: 110px;
  background-color: #16171b;
  display: grid;
  justify-items: start;
  gap: 1rem;
  padding: 1.2rem 1rem;
  border-radius: 10px 0 10px 10px;
  transform: scale(1, 1);
  transform-origin: 90% 0px;
  transition: transform 0.3s ease-in-out;
  box-shadow: rgba(21, 67, 136, 0.05) 1.95px 1.95px 2.6px;
  z-index: 999;
}
.logo-wrapper .logo-mobile-btns .mobile-dropdown-wrapper .dropdown-container.dropdown-container-hide {
  transform: scale(0, 0);
}
@media (min-width: 768px) {
  .logo-wrapper .logo-mobile-btns .mobile-dropdown-wrapper .dropdown-container {
    top: 63px;
    right: 25px;
  }
}
.logo-wrapper .logo-mobile-btns .mobile-dropdown-wrapper .dropdown-container button {
  background: transparent;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  letter-spacing: 1px;
  cursor: pointer;
}
.logo-wrapper .logo-mobile-btns .mobile-dropdown-wrapper .dropdown-container .edit-board-btn {
  color: #fafbff;
}
.logo-wrapper .logo-mobile-btns .mobile-dropdown-wrapper .dropdown-container .delete-board-btn {
  color: #ef7c8e;
}
@media (min-width: 768px) {
  .logo-wrapper.logo-wrapper-light .logo-container h2::before {
    background-color: #aeafb0;
  }
}
.logo-wrapper.logo-wrapper-light .logo-container .logo-open-btn {
  color: #161518;
}
.logo-wrapper.logo-wrapper-light .logo-mobile-btns .logo-mobile-add {
  background: #98c4ff;
  color: #ffffff;
}
.logo-wrapper.logo-wrapper-light .logo-mobile-btns .mobile-dropdown-wrapper .board-options-btn {
  color: #aeafb0 !important;
}
.logo-wrapper.logo-wrapper-light .logo-mobile-btns .mobile-dropdown-wrapper .dropdown-container {
  background-color: #ffffff !important;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.logo-wrapper.logo-wrapper-light .logo-mobile-btns .mobile-dropdown-wrapper .dropdown-container .edit-board-btn {
  color: #aeafb0 !important;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}/*# sourceMappingURL=style.css.map */