.tasks-wrapper {
    padding: 1.5rem;
    
    .tasks-container {
        display: flex;
        flex-direction: column;

        @media (min-width: 1000px) {
            flex-direction: row;
            justify-content: space-between;
        }

        .task-group {
            margin-bottom: 1rem;


            .status-title {
                background-color: $dark-grayish-blue;
                text-transform: capitalize;
            }
        }
    }
}